
<div id="createSubscriber">
    <form ng-model="createSubscriber" name="createSubscriber" novalidate>
        <h1 class="heading">Create Subscriber</h1>
        <br>
        <section>
            <!-- <h4 class="heading">Subscriber Detail</h4> -->

            <div class="row">
                <div class="col-md-6 col-sm-6">

                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_ExternalCustomerTypeID" class="col-form-label">Subscriber Type <span class="fieldReq">*</span></label>
                    </div>

                    <div class="col-md-7 col-sm-7">
                        <select class="form-control" required="required" id="v_ExternalCustomerTypeID" name="v_ExternalCustomerTypeID" ng-change="selectPackages()" ng-model="CustomerType" ng-options="CustomerType as CustomerType.v_ExternalCustomerTypeName for CustomerType in data.CustomerTypes">
                            <option value="">--- Select Subscriber Type ---</option>
                            <!-- <option ng-repeat="custType in data.CustomerTypes" value="{{custType.v_ExternalCustomerTypeID}}">{{custType.v_ExternalCustomerTypeName}}</option> -->
                        </select>
                        <div  class="help-block" ng-messages="createSubscriber.v_ExternalCustomerTypeID.$error" ng-show="(createSubscriber.v_ExternalCustomerTypeID.$touched || createSubscriber.$submitted) && createSubscriber.v_ExternalCustomerTypeID.$invalid">
                            <p ng-message="required">Subscriber Type is required</p>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_City" class="col-form-label">City <span class="fieldReq">*</span></label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <select class="form-control" id="v_City" name="v_City" ng-change="selectPackages()" required ng-model="city" ng-options="city as city.v_CityName for city in data.Cities">
                            <option value="" selected="selected">--- Select City ---</option>
                            <!-- <option ng-repeat="city in data.Cities" value="{{city.v_CityID}}">{{city.v_CityName}}</option> -->
                        </select>
                        <div  class="help-block" ng-messages="createSubscriber.v_City.$error" ng-show="(createSubscriber.v_City.$touched || createSubscriber.$submitted) && createSubscriber.v_City.$invalid">
                            <p ng-message="required">City is required</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_SalesmanID" class="col-form-label">Salesman <span class="fieldReq">*</span></label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <select class="form-control" id="v_SalesmanID" ng-disabled="CustomerType.v_ExternalCustomerTypeName === 'Employee'" name="v_SalesmanID" ng-model="salesman" ng-change="setSalemanID()" ng-options="salesman as salesman.v_Name for salesman in data.salesMen" required>
                            <option value="" selected="selected">--- Select Salesman ---</option>
                        </select>
                        <div  class="help-block" ng-messages="createSubscriber.v_SalesmanID.$error" ng-show="(createSubscriber.v_SalesmanID.$touched || createSubscriber.$submitted) && createSubscriber.v_SalesmanID.$invalid">
                            <p ng-message="required">Salesman is required</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_CustomerID" class="col-form-label">Sale Date <span class="fieldReq">*</span></label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="date" id="v_SalesDate" name="v_SalesDate" ng-model="data.CustomerDetail.v_SalesDate" required/>
                        <div  class="help-block" ng-messages="createSubscriber.v_SalesDate.$error" ng-show="(createSubscriber.v_SalesDate.$touched || createSubscriber.$submitted) && createSubscriber.v_SalesDate.$invalid">
                            <p ng-message="required">Sale Date is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_UserName" class="col-form-label">Customer ID <span class="fieldReq">*</span></label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="text" id="v_UserName" name="v_UserName" ng-model="data.CustomerDetail.v_UserName" required/>
                        <div  class="help-block" ng-messages="createSubscriber.v_UserName.$error" ng-show="(createSubscriber.v_UserName.$touched || createSubscriber.$submitted) && createSubscriber.v_UserName.$invalid">
                            <p ng-message="required">User Name is required</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <br>
        <section>
            <h4>Suscriber Detail</h4>
            <div class="row">
                <div class="col-md-6 col-sm-6">

                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_Company" class="col-form-label">Customer Name</label>
                    </div>

                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_Company" name="v_Company" ng-model="data.CustomerDetail.v_Company" />
                    </div>
                </div>


                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_Title" class="col-form-label">Title</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <select class="form-control" id="v_Title" name="v_Title" ng-model="data.CustomerDetail.v_Title">
                            <option value="" selected="selected">--- Select Title ---</option>
                            <option value="Mr.">Mr.</option>
                            <option value="Mrs.">Mrs.</option>
                            <option value="Ms.">Ms.</option>
                        </select>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_CustomerName" class="col-form-label">User Name <span class="fieldReq">*</span></label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" required="required" type="textbox" id="v_CustomerName" name="v_CustomerName" ng-model="data.CustomerDetail.v_CustomerName" />
                        <div  class="help-block" ng-messages="createSubscriber.v_CustomerName.$error" ng-show="(createSubscriber.v_CustomerName.$touched || createSubscriber.$submitted) && createSubscriber.v_CustomerName.$invalid">
                            <p ng-message="required">User name is required</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_MobileNumber" class="col-form-label">Mobile Number <span class="fieldReq">*</span></label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_MobileNumber" name="v_MobileNumber" ng-pattern=/^\d{11}$/ ng-model="data.CustomerDetail.v_MobileNumber" required />
                        <div  class="help-block" ng-messages="createSubscriber.v_MobileNumber.$error" ng-show="(createSubscriber.v_MobileNumber.$touched || createSubscriber.$submitted) && createSubscriber.v_MobileNumber.$invalid">
                            <p ng-message="required">Mobile Number is required</p>
                            <p ng-message="pattern">Invalid Mobile Number</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_Tel" class="col-form-label">Telephone Number</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_Tel" name="v_Tel" ng-model="data.CustomerDetail.v_Tel" />
                    </div> 
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_Email" class="col-form-label">Email <span class="fieldReq">*</span></label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="email" id="v_Email" name="v_Email" ng-model="data.CustomerDetail.v_Email" required />
                        <div  class="help-block" ng-messages="createSubscriber.v_Email.$error" ng-show="(createSubscriber.v_Email.$touched || createSubscriber.$submitted) && createSubscriber.v_Email.$invalid">
                            <p ng-message="required">Email is required</p>
                            <p ng-message="email">Invalid Email</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_CNIC" class="col-form-label">CNIC</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_CNIC" name="v_CNIC" ng-model="data.CustomerDetail.v_CNIC" ng-pattern=/^[0-9+]{5}-[0-9+]{7}-[0-9]{1}$|^[0-9+]{6}-[0-9+]{6}-[0-9]{1}$/ ng-required="!data.CustomerDetail.v_Passport" />
                        <div  class="help-block" ng-messages="createSubscriber.v_CNIC.$error" ng-show="(createSubscriber.v_CNIC.$touched || createSubscriber.$submitted) && createSubscriber.v_CNIC.$invalid">
                            <p ng-message="required">Either CNIC OR Passport is required</p>
                            <p ng-message="pattern">Invalid CNIC </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_Passport" class="col-form-label">Passport</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_Passport" name="v_Passport" ng-model="data.CustomerDetail.v_Passport" ng-required="!data.CustomerDetail.v_CNIC" />
                        <div  class="help-block" ng-messages="createSubscriber.v_Passport.$error" ng-show="(createSubscriber.v_Passport.$touched || createSubscriber.$submitted) && createSubscriber.v_Passport.$invalid">
                            <p ng-message="required">Either CNIC OR Passport is required</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_NTN" class="col-form-label">NTN</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_NTN" name="v_NTN" ng-model="data.CustomerDetail.v_NTN" />
                        <!-- <div  class="help-block" ng-messages="createSubscriber.v_NTN.$error" ng-show="(createSubscriber.v_NTN.$touched || createSubscriber.$submitted) && createSubscriber.v_NTN.$invalid">
                            <p ng-message="required">NTN is required when Customer Name entered</p>
                        </div> -->
                        <!-- <span class="help-block" ng-show="(createSubscriber.v_NTN.$touched && createSubscriber.v_NTN.$invalid && data.CustomerDetail.v_CustomerName.length) || (createSubscriber.$submitted && createSubscriber.v_NTN.$invalid && data.CustomerDetail.v_CustomerName.length)">
                            NTN is required when Customer Name is entered
                        </span>
                        <span class="help-block" ng-show="(createSubscriber.v_NTN.$touched && createSubscriber.v_NTN.$invalid && (CustomerType.v_ExternalCustomerTypeName == 'SOHO' || CustomerType.v_ExternalCustomerTypeName == 'SME')) || (createSubscriber.$submitted && createSubscriber.v_NTN.$invalid && (CustomerType.v_ExternalCustomerTypeName == 'SOHO' || CustomerType.v_ExternalCustomerTypeName == 'SME'))">
                            NTN is required for SOHO and SME Subscriber Types
                        </span> -->
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_Remarks" class="col-form-label">Remarks</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <textarea name="v_Remarks" id="v_Remarks" cols="100%" rows="2" class="form-control" ng-model="data.CustomerDetail.v_Remarks"></textarea>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h4>Installation Address</h4>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_Address" class="col-form-label">Address <span class="fieldReq">*</span></label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_Address" name="v_Address" ng-change="useSameAddress()" ng-model="data.InstallationAddress.v_Address" required />
                        <div  class="help-block" ng-messages="createSubscriber.v_Address.$error" ng-show="(createSubscriber.v_Address.$touched || createSubscriber.$submitted) && createSubscriber.v_Address.$invalid">
                            <p ng-message="required">Address is required</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_CityAreaID" class="col-form-label">Area <span class="fieldReq">*</span></label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <select class="form-control" id="v_CityAreaID" name="v_CityAreaID" ng-model="cityArea" ng-options="cityArea as cityArea.v_CityAreaName for cityArea in data.cityAreas" ng-change="useSameAddress()" required>
                            <option value="" selected="selected">--- Select Area ---</option>
                            <!-- <option value="number:1">DHA</option>
                            <option value="number:2">E-11</option> -->
                        </select>
                        <div  class="help-block" ng-messages="createSubscriber.v_CityAreaID.$error" ng-show="(createSubscriber.v_CityAreaID.$touched || createSubscriber.$submitted) && createSubscriber.v_CityAreaID.$invalid">
                            <p ng-message="required">Area is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_CityID" class="col-form-label">City</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_CityID" name="v_CityID" readonly="readonly" ng-model="city.v_CityName" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_PostalCode" class="col-form-label">Postal Code</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_PostalCode" name="v_PostalCode" ng-model="data.InstallationAddress.v_PostalCode" ng-change="useSameAddress()" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_CountryStateID" class="col-form-label">State</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_CountryStateID" name="v_CountryStateID" readonly="readonly" ng-model="data.cityState.v_StateName" />
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h4>Billing Address</h4>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_UseSameBillingAddress" class="col-form-label">Use same Billing Address</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="checkbox" id="v_UseSameBillingAddress" name="v_UseSameBillingAddress" ng-model="data.BillingAddress.v_UseSameBillingAddress" ng-change="useSameAddress()" />
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_BillingAddress" class="col-form-label">Address</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_BillingAddress" name="v_BillingAddress" ng-model="data.BillingAddress.v_BillingAddress" ng-readonly="data.BillingAddress.v_UseSameBillingAddress" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_BillingCityAreaID" class="col-form-label">Area</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <select class="form-control" id="v_BillingCityAreaID" name="v_BillingCityAreaID" ng-model="bllingCityArea" ng-change="setBillingCityArea()" ng-options="bllingCityArea as bllingCityArea.v_CityAreaName for bllingCityArea in data.cityAreas" ng-disabled="data.BillingAddress.v_UseSameBillingAddress">
                            <option value="" selected="selected">--- Select Area ---</option>
                            <!-- <option value="number:1">DHA</option>
                            <option value="number:2">E-11</option> -->
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_BillingCityID" class="col-form-label">City</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_BillingCityID" name="v_BillingCityID" readonly="readonly" ng-model="city.v_CityName" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_BillingPostalCode" class="col-form-label">Postal Code</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_BillingPostalCode" name="v_BillingPostalCode" ng-model="data.BillingAddress.v_BillingPostalCode" ng-readonly="data.BillingAddress.v_UseSameBillingAddress" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_BillingCountryStateID" class="col-form-label">State</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_BillingCountryStateID" name="v_BillingCountryStateID" readonly="readonly" ng-model="data.cityState.v_StateName" />
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h4>Internet Service</h4>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_ServiceOfferingID" class="col-form-label">Package <span class="fieldReq">*</span></label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <select class="form-control" id="v_ServiceOfferingID" name="v_ServiceOfferingID" ng-change="manageChargeHeads();" ng-model="package" ng-options="package as package.v_ServiceOfferingName for package in data.Packages" required>
                            <option value="" selected="selected">--- Select Package ---</option>
                            <!-- <option value="number:1">Package 1</option>
                            <option value="number:2">Package 2</option> -->
                        </select>
                        <div  class="help-block" ng-messages="createSubscriber.v_ServiceOfferingID.$error" ng-show="(createSubscriber.v_ServiceOfferingID.$touched || createSubscriber.$submitted) && createSubscriber.v_ServiceOfferingID.$invalid">
                            <p ng-message="required">Package is required</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_ChargesPerBillingCycle" class="col-form-label">Total Amount</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_ChargesPerBillingCycle" name="v_ChargesPerBillingCycle" readonly="readonly" ng-model="package.v_ChargesPerBillingCycle" />
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_SalesTax" class="col-form-label">Sales Tax</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_SalesTax" name="v_SalesTax" readonly="readonly" ng-model="package.v_SalesTax" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_AdvanceTax" class="col-form-label">Advance Tax</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_AdvanceTax" name="v_AdvanceTax" readonly="readonly" ng-model="package.v_AdvanceTax" />
                    </div>
                </div>
            </div>
            <br>

            <div class="row" ng-show="CustomerType.v_ExternalCustomerTypeID !== 100006">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_DeviceType" class="col-form-label">Select Band</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <label class="radio-inline">
                            <input type="radio" name="v_DeviceType" id="v_DeviceType" ng-model="data.internetServiceSection.v_DeviceType" ng-click="selectInternetOTCPackages()" value="SB" checked="checked">Single Band
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="v_DeviceType" id="v_DeviceType" ng-model="data.internetServiceSection.v_DeviceType" ng-click="selectInternetOTCPackages()" value="DB">Dual Band
                        </label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_PackageInstallment" class="col-form-label">Installment Plan</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <label class="radio-inline">
                            <input type="radio" name="v_PackageInstallment" id="v_PackageInstallment" ng-click="selectInternetOTCPackages()" ng-model="data.internetServiceSection.v_PackageInstallment" value="0" checked="checked">Upfront Payment
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="v_PackageInstallment" id="v_PackageInstallment" ng-click="selectInternetOTCPackages()" ng-model="data.internetServiceSection.v_PackageInstallment" value="3">3 Months
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="v_PackageInstallment" id="v_PackageInstallment" ng-click="selectInternetOTCPackages()" ng-model="data.internetServiceSection.v_PackageInstallment" value="6">6 Months
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="v_PackageInstallment" id="v_PackageInstallment" ng-click="selectInternetOTCPackages()" ng-model="data.internetServiceSection.v_PackageInstallment" value="12">12 Months
                        </label>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="CustomerType.v_ExternalCustomerTypeID !== 100006">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="InternetOTC" class="col-form-label">Select OTC</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <select class="form-control" id="InternetOTC" name="InternetOTC" ng-required="data.internetServiceSection.v_PackageInstallment > 0" ng-model="InternetOTC" ng-change="manageChargeHeads()" ng-options="InternetOTC as InternetOTC.v_ChargeHeadName for InternetOTC in data.InternetOTCCityWise">
                            <option value="" selected="selected">--- Select OTC ---</option>
                        </select>
                        <div  class="help-block" ng-messages="createSubscriber.InternetOTC.$error" ng-show="(createSubscriber.InternetOTC.$touched || createSubscriber.$submitted) && createSubscriber.InternetOTC.$invalid">
                            <p ng-message="required">OTC is required</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_OTCPackageAmount" class="col-form-label">Total Amount</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_OTCPackageAmount" name="v_OTCPackageAmount" readonly="readonly" ng-model="InternetOTC.v_DefaultAmount" />
                    </div>
                </div>

            </div>
            <div class="row" ng-show="CustomerType.v_ExternalCustomerTypeID !== 100006">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_OTCPackageSalesTax" class="col-form-label">Sales Tax</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_OTCPackageSalesTax" name="v_OTCPackageSalesTax" readonly="readonly" ng-model="InternetOTC.v_SalesTax" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_OTCPackageAdvanceTax" class="col-form-label">Advance Tax</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_OTCPackageAdvanceTax" name="v_OTCPackageAdvanceTax" readonly="readonly" ng-model="InternetOTC.v_AdvanceTax" />
                    </div>
                </div>
            </div>
            <div class="row" ng-show="data.internetServiceSection.v_PackageInstallment > 0">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_OTCInstallment" class="col-form-label">Installment</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_OTCInstallment" name="v_OTCInstallment" readonly="readonly" ng-model="InternetOTC.v_ChargesPerBillingCycle" />
                    </div>
                </div>
                
            </div>
        </section>


        <section>
            <h4>TV Service</h4>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_TVServiceOfferingID" class="col-form-label">Select Service</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <select class="form-control" id="v_TVServiceOfferingID" name="v_TVServiceOfferingID" ng-model="TVServiceOffering" ng-options="TVServiceOffering as TVServiceOffering.v_ChargeHeadName for TVServiceOffering in data.TVCityWise" ng-change="manageChargeHeads()">
                            <option value="" selected="selected">--- Select Service ---</option>
                            <!-- <option value="number:1">TV Service 1</option>
                            <option value="number:2">TV Service 2</option> -->
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_TVAmount" class="col-form-label">Monthly Charges</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_TVAmount" name="v_TVAmount" readonly="readonly"  ng-model="TVServiceOffering.v_ChargesPerBillingCycle" />
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_TVSalesTax" class="col-form-label">Sales Tax</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_TVSalesTax" name="v_TVSalesTax" readonly="readonly"  ng-model="TVServiceOffering.v_SalesTax" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_TVAdvance" class="col-form-label">Advance Tax</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_TVAdvance" name="v_TVAdvance" readonly="readonly"  ng-model="TVServiceOffering.v_AdvanceTax" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_TVOTCPackage" class="col-form-label">Select OTC</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <select class="form-control" id="v_TVOTCPackage" name="v_TVOTCPackage" ng-model="STBOTC" ng-options="STBOTC as STBOTC.v_ChargeHeadName for STBOTC in data.STBOTCCityWise" ng-change="manageChargeHeads()">
                            <option value="" selected="selected">--- Select OTC ---</option>
                            <!-- <option value="number:1">OTC 1</option>
                            <option value="number:2">OTC 2</option> -->
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_TVOTCPackageAmount" class="col-form-label">Total Amount</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_TVOTCPackageAmount" name="v_TVOTCPackageAmount" readonly="readonly" ng-model="STBOTC.v_DefaultAmount" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_OTCPackageSalesTax" class="col-form-label">Sales Tax</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_OTCPackageSalesTax" name="v_OTCPackageSalesTax" readonly="readonly" ng-model="STBOTC.v_SalesTax" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_OTCPackageAdvanceTax" class="col-form-label">Advance Tax</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_OTCPackageAdvanceTax" name="v_OTCPackageAdvanceTax" readonly="readonly" ng-model="STBOTC.v_AdvanceTax" />
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h4>IP/Pool Service</h4>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_IPPoolServiceOfferingID" class="col-form-label">Select Service</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <select class="form-control" id="v_IPPoolServiceOfferingID" name="v_IPPoolServiceOfferingID" ng-model="IPAndPool" ng-options="IPAndPool as IPAndPool.v_ChargeHeadName for IPAndPool in data.IPAndPoolCityWise" ng-change="manageChargeHeads()">
                            <option value="" selected="selected">--- Select Service ---</option>
                            <!-- <option value="number:1">IP/Pool Service 1</option>
                            <option value="number:2">IP/Pool Service 2</option> -->
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_IPPoolAmount" class="col-form-label">Monthly Charges</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_IPPoolAmount" name="v_IPPoolAmount" readonly="readonly" ng-model="IPAndPool.v_ChargesPerBillingCycle" /><br>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_IPPoolSalesTax" class="col-form-label">Sales Tax</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_IPPoolSalesTax" name="v_IPPoolSalesTax" readonly="readonly" ng-model="IPAndPool.v_SalesTax" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_IPPoolAdvance" class="col-form-label">Advance Tax</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_IPPoolAdvance" name="v_IPPoolAdvance" readonly="readonly" ng-model="IPAndPool.v_AdvanceTax" />
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h4>Others OTC</h4>
            <div id="miscOTC">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="col-md-5 col-sm-5 text-right">
                            <label for="v_OTCPackage" class="col-form-label">Select OTC</label>
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <select class="form-control" id="v_OTCPackage" name="v_OTCPackage" ng-model="v_OTCPackage" ng-options="v_OTCPackage as v_OTCPackage.v_ChargeHeadName for v_OTCPackage in data.MISCOTCCityWise" ng-change="manageChargeHeads()">
                                <option value="" selected="selected">--- Select OTC ---</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="col-md-5 col-sm-5 text-right">
                            <label for="v_OTCPackageAmount" class="col-form-label">Total Amount</label>
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <input class="form-control" type="textbox" id="v_OTCPackageAmount" name="v_OTCPackageAmount" readonly="readonly" ng-model="v_OTCPackage.v_DefaultAmount" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="col-md-5 col-sm-5 text-right">
                            <label for="v_OTCPackageSalesTax" class="col-form-label">Sales Tax</label>
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <input class="form-control" type="textbox" id="v_OTCPackageSalesTax" name="v_OTCPackageSalesTax" readonly="readonly" ng-model="v_OTCPackage.v_SalesTax" />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="col-md-5 col-sm-5 text-right">
                            <label for="v_OTCPackageAdvance" class="col-form-label">Advance Tax</label>
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <input class="form-control" type="textbox" id="v_OTCPackageAdvance" name="v_OTCPackageAdvance" readonly="readonly" ng-model="v_OTCPackage.v_AdvanceTax" />
                        </div>
                    </div>
                </div>
            </div>
                
            <div id="extraOTC">
                
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                            
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input type="button" class="btn" value="Add OTC" ng-click="addNewSection();" />
                        <input ng-show="counter" type="button" class="btn" value="Remove OTC" ng-click="removeSection();" />
                    </div>
                </div>
                
            </div>
        </section>
        <section ng-show="data.internetServiceSection.v_PackageInstallment > 0">
            <h4>Security Cheque</h4>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_SDChequeAmount" class="col-form-label">Amount</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_SDChequeAmount" name="v_SDChequeAmount" ng-model="data.securityCheque.v_SDChequeAmount" ng-required="data.internetServiceSection.v_PackageInstallment > 0" />
                        <div  class="help-block" ng-messages="createSubscriber.v_SDChequeAmount.$error" ng-show="(createSubscriber.v_SDChequeAmount.$touched || createSubscriber.$submitted) && createSubscriber.v_SDChequeAmount.$invalid">
                            <p ng-message="required">Security cheque amount is required</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_SDChequeNumber" class="col-form-label">Cheque Number</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="textbox" id="v_SDChequeNumber" name="v_SDChequeNumber" ng-model="data.securityCheque.v_SDChequeNumber" ng-required="data.internetServiceSection.v_PackageInstallment > 0" />
                        <div  class="help-block" ng-messages="createSubscriber.v_SDChequeNumber.$error" ng-show="(createSubscriber.v_SDChequeNumber.$touched || createSubscriber.$submitted) && createSubscriber.v_SDChequeNumber.$invalid">
                            <p ng-message="required">Security cheque number is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_SDBankID" class="col-form-label">Drawn On</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <select class="form-control" id="v_SDBankID" name="v_SDBankID" ng-model="sdbank" ng-change="setSDBankID()" ng-options="sdbank as sdbank.v_BankName for sdbank in data.banks" ng-required="data.internetServiceSection.v_PackageInstallment > 0">
                            <option value="" selected="selected">--- Select Bank ---</option>
                        </select>
                        <div  class="help-block" ng-messages="createSubscriber.v_SDBankID.$error" ng-show="(createSubscriber.v_SDBankID.$touched || createSubscriber.$submitted) && createSubscriber.v_SDBankID.$invalid">
                            <p ng-message="required">Drawn on bank is required</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <section>
            <h4>Summary</h4>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="text-center"><strong>Description</strong></th>
                                <th class="text-center"><strong>Amount</strong></th>
                                <th class="text-center"><strong>Sales tax</strong></th>
                                <th class="text-center"><strong>Advance Tax</strong></th>
                                <th class="text-center"><strong>Total</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="chargeHead in data.chargeHeads">
                                <td>{{chargeHead.v_ChargeHeadName}}</td>
                                <td class="text-right">{{chargeHead.v_Amount}}</td>
                                <td class="text-right">{{chargeHead.v_SalesTax}}</td>
                                <td class="text-right">{{chargeHead.v_AdvanceTax}}</td>
                                <td class="text-right">{{chargeHead.v_SumAmount}}</td>
                            </tr>
                            <tr>
                                <td><strong>Grand Total</strong></td>
                                <td class="text-right"><strong>{{data.chargeHeadSums.TotalAmount}}</strong></td>
                                <td class="text-right"><strong>{{data.chargeHeadSums.TotalSalesTax}}</strong></td>
                                <td class="text-right"><strong>{{data.chargeHeadSums.TotalAdvanceTax}}</strong></td>
                                <td class="text-right"><strong>{{data.chargeHeadSums.GrandSum}}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section>
            <h4>Payment</h4>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_Amount" class="col-form-label">Amount</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="number" id="v_Amount" name="v_Amount" min="{{data.chargeHeadSums.GrandSum}}" ng-model="data.paymentInfo.v_Amount" />
                        <div class="help-block" ng-show="(createSubscriber.v_Amount.$touched && createSubscriber.v_Amount.$invalid) || (createSubscriber.$submitted && createSubscriber.v_Amount.$invalid)">
                            Amount can not be less than {{data.chargeHeadSums.GrandSum}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_PaymentMode" class="col-form-label">Payment Mode</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <label class="radio-inline">
                            <input type="radio" name="v_PaymentMode" id="v_PaymentMode" ng-model="data.paymentInfo.v_PaymentMode" value="Cash" checked="checked">Cash
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="v_PaymentMode" id="v_PaymentMode" ng-model="data.paymentInfo.v_PaymentMode" value="Cheque">Cheque
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_DepositSlipNo" class="col-form-label">Deposit Slip No</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input class="form-control" type="number" id="v_DepositSlipNo" name="v_DepositSlipNo" ng-model="data.paymentInfo.v_DepositSlipNo" />
                        <!-- <div class="help-block" ng-show="(createSubscriber.v_DepositSlipNo.$touched && createSubscriber.v_DepositSlipNo.$invalid) || (createSubscriber.$submitted && createSubscriber.v_DepositSlipNo.$invalid)">
                            Deposit slip is required
                        </div> -->
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-5 col-sm-5 text-right">
                        <label for="v_PaymentRemarks" class="col-form-label">Remarks</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <textarea class="form-control" id="v_PaymentRemarks" cols="100%" rows="2" name="v_PaymentRemarks" ng-model="data.paymentInfo.v_PaymentRemarks"></textarea>
                    </div>
                </div>
            </div>
            
            <div class="chequeInfo" ng-show="data.paymentInfo.v_PaymentMode == 'Cheque'">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="col-md-5 col-sm-5 text-right">
                            <label for="v_ChequeNumber" class="col-form-label">Cheque Number</label>
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <input class="form-control" type="textbox" id="v_ChequeNumber" name="v_ChequeNumber" ng-model="data.paymentInfo.v_ChequeNumber" ng-required="data.paymentInfo.v_PaymentMode == 'Cheque'" />
                            <div  class="help-block" ng-messages="createSubscriber.v_ChequeNumber.$error" ng-show="(createSubscriber.v_ChequeNumber.$touched || createSubscriber.$submitted) && createSubscriber.v_ChequeNumber.$invalid">
                                <p ng-message="required">Cheque Number is required</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="col-md-5 col-sm-5 text-right">
                            <label for="v_ChequeDate" class="col-form-label">Cheque Date</label>
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <input class="form-control" type="date" id="v_ChequeDate" name="v_ChequeDate" ng-model="data.paymentInfo.v_ChequeDate" ng-required="data.paymentInfo.v_PaymentMode == 'Cheque'"  />
                            <div  class="help-block" ng-messages="createSubscriber.v_ChequeDate.$error" ng-show="(createSubscriber.v_ChequeDate.$touched || createSubscriber.$submitted) && createSubscriber.v_ChequeDate.$invalid">
                                <p ng-message="required">Cheque Date is required</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="col-md-5 col-sm-5 text-right">
                            <label for="v_BankID" class="col-form-label">Drawn on</label>
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <select class="form-control" id="v_BankID" name="v_BankID" ng-model="bank" ng-change="setBankID()" ng-options="bank as bank.v_BankName for bank in data.banks" ng-required="data.paymentInfo.v_PaymentMode == 'Cheque'">
                                <option value="" selected="selected">--- Select Bank ---</option>
                            </select>
                            <div  class="help-block" ng-messages="createSubscriber.v_BankID.$error" ng-show="(createSubscriber.v_BankID.$touched || createSubscriber.$submitted) && createSubscriber.v_BankID.$invalid">
                                <p ng-message="required">Bank is required</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="btnDiv" id="btnDiv">
            <input class="btn btn-primary pull-right" type="submit" ng-click="validateForm()" value="Create Subscriber">
        </div>
    </form>
    <br>
    <br>
</div>

