<script src="assets/js/html2canvas.min.js">
</script>
<script src="assets/js/jspdf.min.js"></script>
<link rel="stylesheet" href="customer/styles/taxcertificate.css">

<div class="taxcertificate">
    <input type="button" value="Create PDF" id="create_taxcertificate_pdf" class="pull-right btn btn-primary">
    <div id="taxCertificate" class="taxCertificate">
        <div class="rec-wrapper clear">
            <img class="rec-logo" src="../customer/images/logo.jpg" alt=""></td>
            <div class="title">
                Certificate of Collection or Deduction of Income Tax<br>
                (under rule 42)
            </div>
            <table>
                <tr>
                    <td class="sr-no">Sr. No. :  1350/2017/RES-969</td>
                    <td class="rec-date">Date of Issue  :  July 31, 2017</td>
                </tr>
            </table>
        </div>
    </div>



    <script src="customer/js/taxcertificate.js"></script>
</div>

</html>